<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296366213193-27d9lmdl53masjmfqhbaj071ahvki8f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296366213193-27d9lmdl53masjmfqhbaj071ahvki8f7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296366213193-m8fs954qcnkrvqa3dtm6uisc1olbo7l1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpKNi58ZDjol_srecbs3-85JauePqJNQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>296366213193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.jasmerah</string>
	<key>PROJECT_ID</key>
	<string>jasmerah-100a</string>
	<key>STORAGE_BUCKET</key>
	<string>jasmerah-100a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296366213193:ios:536de5f1d683687df45798</string>
	<key>DATABASE_URL</key>
	<string>https://jasmerah-100a-default-rtdb.firebaseio.com</string>
</dict>
</plist>